@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), system-ui, Tahoma, sans-serif;
}

.layout-wrapper {
  @apply px-6 pt-4 pb-20 max-w-screen-lg mx-auto;
}

.page-content-wrapper {
  @apply py-6 max-w-[600px] mx-auto;
}

a {
  @apply text-pink-500 hover:underline;
}

h1 {
  @apply text-2xl font-bold;
}

.form-field-wrapper {
  @apply relative grid py-4;

  label {
    @apply absolute left-[15px] top-[4px] px-2 bg-black text-sm;
  }

  input {
    @apply bg-black px-4 py-2 border border-white rounded-md;
  }
}

button,
.button {
  @apply w-fit bg-black ring-0 px-4 py-2 border border-pink-600 text-pink-600 hover:bg-pink-600 hover:text-white focus:bg-pink-600 focus:text-white transition-colors rounded-md disabled:opacity-50 disabled:hover:bg-black disabled:hover:text-pink-600 disabled:cursor-not-allowed;
}